@model IEnumerable<WebBanQuanAo.Models.Shipper>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Shippers</h1>

<p>
    <a class ="btn btn-primary" asp-action="Create">Create New</a>
</p>
<form asp-action="Search" method="post">
    <p>
        <input type="text" name="searchString" placeholder="Search">
        <button type="submit" class="btn btn-secondary">Search</button>
    </p>
</form>
<table class="table">
    <thead>
        <tr class="alert alert-warning">
            <th>
                @Html.DisplayNameFor(model => model.ShipperName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="alert alert-primary">
            <td>
                @Html.DisplayFor(modelItem => item.ShipperName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ShipperId">Edit</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ShipperId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ShipperId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
